@inherits TestContext
@using DealWith.Web.Components.FeatureComponents;
@using DealWith.Web.Components.FeatureComponents.VerifyItemFeature;

@code {
    private IVerifyItemService _verifyItemService;
    public VerifyItemTests()
    {
        _verifyItemService = Substitute.For<IVerifyItemService>();
        Services.AddSingleton(_verifyItemService);
    }
    [Fact]
    public void ShouldHaveInputField()
    {
        var cut = Render(@<VerifyItem />);
        var label = cut.Find("label");
        label.MarkupMatches(@<label>Verify item <input diff:ignore /></label>);
    }

    [Fact]
    public void ShouldHaveSubmitButton()
    {
        var cut = Render(@<VerifyItem />);
        var button = cut.Find("input[type=submit]");
        button.MarkupMatches(@<input type="submit" value="Verify">);
    }

    [Fact]
    public void ShouldSubmitItemIdToService()
    {
        var itemId = "123";
        var cut = Render(@<VerifyItem />);
        var input = cut.Find("label input");
        input.Change(itemId);
        var button = cut.Find("input[type=submit]");
        button.Click();
        _verifyItemService.Received(1).VerifyItemAsync(Arg.Is<VerifyItemInfo>(x => x.ItemId == itemId));
    }
}
