@inherits TestContext
@using DealWith.Web.Components.FeatureComponents;

@code {
    [Fact]
    public void ShouldHaveInputField()
    {
        var cut = Render(@<VerifyItem />);
        var label = cut.Find("label");
        label.MarkupMatches(@<label>Verify item <input type="text" placeholder:ignore /></label>);
    }
}
